body {
	width: 700px;
	margin: 0px auto;
	background-color: #FEFEFE;
}

a, img {
    border:none;
}

h1,h2,h3{
    font-family: georgia, serif; 
    font-weight:normal; 
    padding:0;
    margin:16px;
}

p{
    font-family: georgia, serif; 
    font-weight: 100; 
    margin: 16px;
    color: #111;
}

.project
{
	margin: 8px;
	display: inline-block;
	border: 1px solid #eee;
}

.project {
	text-decoration: none;
	color: #111;
}
.project:hover{
	background-color: #EEE;
	border: 1px dashed #fff;
}
.project img
{
	float: left;
	margin: 8px 16px 8px 8px;
}

#nav {
    font-family: georgia, serif; 
	display: block;
	margin: 8px auto;
	clear:both;
	text-align: right;
}

#nav li {
	text-align: center;
	display: inline;
	margin-left: 8px;
}

#nav li a {
	color: #000;
	border-bottom: 1px dashed #777;
	text-decoration: none;
}

#nav li a:hover {
	color: #888;
	border-bottom: 1px dashed #888;
}



